body {
	background-color: #FFFFFF;
}

#header{
    height:60px;
    width:100%;
	position: relative;
	top: 25px;
	background-color: #302F2E;
}

#h51 {
	font-family: Verdana;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 200px;
	color: #acd1b2;
}

#h52 {
	font-family: Verdana;
	text-align: right;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 200px;
	color: #acd1b2;
}

#logo{
	height: 116.12px;
	width: 150px;
	position: absolute;
	left: 45%;
	top: 3%;
}

img {
	height: 116.12ppx;
	width: 150px;
	box-shadow: 0 8px 6px -6px black;
}

#footer{
	position: absolute;
	bottom: 0%;
	height: 30px;
	width: 99%;
	background-color: #302F2E;
}

#diseno_por{
	text-align:center; 
	font-style:italic;
	color:white;
	font-size: x-small;
}


