body {
	background-color: #FFFFFF;
}

/*#header{
    height:60px;
    width:100%;
	position: relative;
	top: 25px;
	background-color: #302F2E;
}*/
#header{
	float: left;
	clear: both;
	height: 60px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #302F2E;
}

#navin1 {
	float: left; 
	width: auto; 
	margin: 0; 
	padding: 10px 20px; 
	background: transparent; 
}

#navin2 {
	float: right; 
	width: auto; 
	margin: 0; 
	padding: 10px 20px; 
	background: transparent; 
}

#h51 {
	font-family: Verdana;
	color: #acd1b2;
}

#h52 {
	font-family: Verdana;
	color: #acd1b2;
}

#logo{
	height: 116.12px;
	width: 150px;
	position: absolute;
	left: 43%;
	top: 3%;
}

img {
	height: 116.12ppx;
	width: 150px;
	box-shadow: 0 8px 6px -6px black;
}

#footer{
	position: absolute;
	bottom: 0%;
	clear: both;
	height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #302F2E;
}

#diseno_por{
	text-align:center; 
	font-style:italic;
	color:white;
	font-size: x-small;
}


