#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
}

img {
	height=150px;
	width=200px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	color:blue;
}