body {
	background-color: #FFFFFF;
}

#header{
	float: left;
	clear: both;
	height: 50px;
	width: 100%;
	margin-top: 35px;
	padding: 0px;
	background: #302F2E;
}

#navin1 {
	float: left; 
	width: auto; 
	margin: 0; 
	padding: 15px 60px; 
	background: transparent; 
}

#navin2 {
	float: right; 
	width: auto; 
	margin: 0; 
	padding: 15px 60px; 
	background: transparent; 
}

#slogan1 {
	font-family: HelveticaNeue-Light, Verdana;
	color: #acd1b2;
    font-size: small;
    font-style: italic;
}

#slogan2 {
	font-family: HelveticaNeue-Light, Verdana;
	color: #acd1b2;
    font-size: small;
    font-style: italic;
}

#logo{
	height: 116.12px;
	width: 150px;
	position: absolute;
	left: 43%;
	top: 3%;
}

img {
	height: 116.12ppx;
	width: 150px;
	box-shadow: 0 8px 6px -6px black;
}

#footer{
	position: absolute;
	bottom: 0%;
	clear: both;
	height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #302F2E;
}

#diseno_por{
	text-align: center;
    padding: 10px;
	font-style: italic;
	color: white;
	font-size: x-small;
}


